
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
    margin: 0;
    padding: 150px;
}
.resume-container{
    display: flex;
    flex-direction: row;
background-color: #a2bff0;
width: 80%;
margin: 0 auto;
border-radius: 10px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left-section{
    background-color: #6f9ae5;
    columns: bisque ;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid rgba(75, 147, 158, 0.918);

}

.profile-picture{
    width: 150px;
    height: 150px;
    margin-top: 30%;
    border-radius: 50%;
    border: 5px solid  rgb(151, 153, 156);
    margin-bottom: 20px;
}

h1{
    margin: -10px 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
}
h3{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color:black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(44, 53, 67);
    margin-top: 5%;
    margin-bottom: 5%;
}
ul{
    list-style-type: fill-round;
    padding: 10px;
    margin: 10px 0;
}
ul li{
    margin: 5px 0;
}

.right-section{
    padding: 20px;
    width: 65%;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow:0 0 15px  rgb(44, 53, 67);
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover{
    background-color:  #507fcf;
    color:#fff;
}
@media (max-width: 550px){
    *{
        padding: 0px;
    }
    body{
        padding: 10px;
    
    }
    .resume-container{
        flex-direction: column;
        width: 550px;
    }
    .right-section{
        width: 550px;
    }
    h1{
        font-size: 20px;
        text-align: center;
        margin-left: 30px;
    }
    ul li{
        width: 500px;
    }
    h3{
        font-size: 20px;
        padding: 5px;
        margin: 0px;
        color:blue;
        width: 500px;
    }
    .profile-picture{
        margin: 10px;
        width: 80px;
    }
.left-section{
width:500px
}
button{
    font-size: 15px;
    width: 150px;
    height: 30px;
}
 img{
    width:150px;
    height: auto;
}
}
