
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
    margin: 0;
    padding: 150px;
}
.resume-container{
    display: flex;

background-color: #6c91cf;
width: 80%;
margin: 0 auto;
border-radius: 10px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left-section{
    background-color: #3f65a8;
    columns: bisque ;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid rgba(255, 183, 0, 0.918);

}

.profile-picture{
    width: 150px;
    height: 150px;
    margin-top: 30%;
    border-radius: 50%;
    border: 5px solid rgb(255, 153, 0);
    margin-bottom: 20px;
}

h1{
    font-size: 24px;
    margin: -10px 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
}
h3{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color:black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(0, 255, 123);
    margin-top: 5%;
    margin-bottom: 5%;
}
ul{
    list-style-type: fill-round;
    padding: 10px;
    margin: 10px 0;
}
ul li{
    margin: 5px 0;
}

.right-section{
    padding: 20px;
    width: 65%;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow:0 0 15px  rgb(0, 255, 123);
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover{
    background-color: rgba(246, 91, 91, 0.915)
}